aside {
  display: none !important;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #3b3f5c;
  border-color: #3b3f5c;
}

.navbar-title {
  color: #3b3f5c;
  font-size: 19px;
}

.widget-chart-one thead {
  background-color: #3b3f5c;
}

@media (max-width: 480px) {
  .mtmobile {
    margin-bottom: 20px !important;
  }

  .mbmobile {
    margin-bottom: 10px !important;
  }

  .hideonsm {
    display: none !important;
  }

  .inblock {
    display: block;
  }
}