app/vendor/
app/node_modules/
app/npm-debug.log
app/yarn-error.log

# Laravel 4 specific
app/bootstrap/compiled.php
app/app/storage/

# Laravel 5 & Lumen specific
app/public/storage
app/public/hot

# Laravel 5 & Lumen specific with changed public path
app/public_html/storage
app/public_html/hot

app/storage/*.key
app/.env
app/Homestead.yaml
app/Homestead.json
app/.vagrant
app/.phpunit.result.cache
app/.cache/
app/.npm/

*.code-workspace
app/.bash_history
app/build.sh
